<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Finding Student</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="find-student-container">
        <img src="{{ url_for('static', filename='USTH_LOGO.png') }}" alt="Logo" class="logo">
        <h2>Welcome, {{ username }}</h2>
        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, msg in messages %}
                    <p class="{{ category }}">{{ msg }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form method="POST">
            <input type="text" name="student_id" placeholder="Student ID" required>
            <button type="submit">Search</button>
        </form>
        <form action="{{ url_for('function') }}" method="GET">
            <button type="submit">Back to home</button>
        </form>
        <form action="{{ url_for('login') }}" method="GET">
            <button type="submit">Sign out</button>
        </form>
    </div>
</body>
</html>
