<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Function</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="function-container">
        <img src="{{ url_for('static', filename='USTH_LOGO.png') }}" alt="Logo" class="logo">
        <h2>Welcome {{ username }}! What do you want?</h2>
        <form action="{{ url_for('find_student') }}" method="GET">
            <button type="submit">Input student score</button>
        </form>
        <form action="{{ url_for('register') }}" method="GET">
            <button type="submit">Input subject score</button>
        </form>
        <form action="{{ url_for('register') }}" method="GET">
            <button type="submit">Show student score</button>
        </form>
        <form action="{{ url_for('register') }}" method="GET">
            <button type="submit">Show subject score</button>
        </form>
        <form action="{{ url_for('register') }}" method="GET">
            <button type="submit">Account information</button>
        </form>
        <form action="{{ url_for('login') }}" method="GET">
            <button type="submit">Sign out</button>
        </form>
    </div>
</body>
</html>
