<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Đăng nhập - Quản lý điểm</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="login-container">
        <img src="{{ url_for('static', filename='USTH_LOGO.png') }}" alt="Logo" class="logo">
        <h2>Welcome</h2>
        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, msg in messages %}
                    <p class="{{ category }}">{{ msg }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form method="POST">
            <input type="text" name="user_email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Sign in</button>
        </form>

        <form action="{{ url_for('register') }}" method="GET">
            <button type="submit" class="button-style">Create an account</button>
        </form>
    </div>
</body>
</html>
