<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Đăng ký</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="register-container">
        <h2>Signup</h2>
        <form method="POST">
            <input type="fullname" name="fullname" placeholder="Fullname" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="phone_number" name="phone_number" placeholder="Phone Number" required>
            <button type="submit">Signup</button>
        </form>
    </div>
</body>
</html>
