<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Nhập điểm học sinh</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="score-container">
        <h2>Welcome, {{ username }}</h2>
        <h3>Input Student Information</h3>
        <form>
            <input type="text" name="student_name" placeholder="Fullname" required>
            <input type="text" name="student_id" placeholder="StudentID" required>
            <button type="submit">Truy cập</button>
        </form>
        <a href="{{ url_for('logout') }}" class="logout-btn">Đăng xuất</a>
    </div>
</body>
</html>
